In [1]:
import mysql
import pandas as pd
import plotly.express as px
import requests
import json

In [ ]:
#DataFrame Connection
import mysql.connector


    # Connect without specifying database
mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",
        database="phonepe_data",
        port=3306  # Using standard MySQL port
    )
    
cursor = mydb.cursor()

#aggregated_insurance_df
cursor.execute("SELECT * FROM aggregated_insurance")


table1= cursor.fetchall()

Aggre_insurance= pd.DataFrame(table1, columns=("States", "Years", "Quarter", "Transaction_type",
                                               "Transaction_count", "Transaction_amount"))

#aggre_transaction_df
cursor.execute("SELECT * FROM aggregated_transaction")
table2= cursor.fetchall()

Aggre_transaction= pd.DataFrame(table2, columns=("States", "Years", "Quarter", "Transaction_type",
                                               "Transaction_count", "Transaction_amount"))


#aggre_user_df
cursor.execute("SELECT * FROM aggregated_user")
table3= cursor.fetchall()

Aggre_user= pd.DataFrame(table3, columns=("States", "Years", "Quarter", "Brands",
                                               "Transaction_count", "Percentage"))

#map_insurance
cursor.execute("SELECT * FROM map_insurance")
table4= cursor.fetchall()
map_insurance= pd.DataFrame(table4, columns=("States", "Years", "Quarter", "District",
                                               "Transaction_count", "Transaction_amount"))

#map_transction
cursor.execute("SELECT * FROM map_transaction")
table5= cursor.fetchall()
map_transaction= pd.DataFrame(table5, columns=("States", "Years", "Quarter", "District",
                                               "Transaction_count", "Transaction_amount"))

#map_user
cursor.execute("SELECT * FROM map_user")
table6= cursor.fetchall()
map_user= pd.DataFrame(table6, columns=("States", "Years", "Quarter", "District",
                                               "RegisteredUser", "AppOpens"))

#top_insurance
cursor.execute("SELECT * FROM top_insurance")
table7= cursor.fetchall()
top_insurance= pd.DataFrame(table7, columns=("States", "Years", "Quarter", "Pincodes",
                                               "Transaction_count", "Transaction_amount"))

#top_transaction
cursor.execute("SELECT * FROM top_transaction")
table8= cursor.fetchall()
top_transaction= pd.DataFrame(table8, columns=("States", "Years", "Quarter", "Pincodes",
                                               "Transaction_count", "Transaction_amount"))

#top_user
cursor.execute("SELECT * FROM top_user")
table9= cursor.fetchall()
top_user= pd.DataFrame(table9, columns=("States", "Years", "Quarter", "Pincodes",
                                               "RegisteredUsers"))

In [ ]:
type(Aggre_insurance)

In [ ]:
Aggre_insurance

In [ ]:
Aggre_transaction

In [ ]:
Aggre_user

In [ ]:
map_transaction

In [ ]:
map_insurance

In [ ]:
map_user

In [ ]:
top_insurance

In [ ]:
top_transaction

In [ ]:
top_user

In [ ]:
type(top_transaction)

In [ ]:
type(Aggre_insurance)

In [ ]:
#Transaction_Year_Based

def Transaction_amount_count_Y(df,year):
    tacy = df[df["Years"] == year]
    tacy.reset_index(drop = True,inplace = True)

    tacyg=tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount=px.bar(tacyg, x = "States",y="Transaction_amount",title=f"{year} TRANSACTION AMOUNT",color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_amount.show()

    fig_count=px.bar(tacyg, x = "States",y="Transaction_count",title=f"{year} TRANSACTION COUNT",color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()
    
    fig_india_1 = px.choropleth(tacyg, 
                               geojson=data1, 
                               locations="States", 
                               featureidkey="properties.ST_NM",
                               color="Transaction_amount", 
                               color_continuous_scale="Rainbow",
                               range_color=(tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                               hover_name="States",
                               title=f"{year} TRANSACTION AMOUNT", 
                               fitbounds="locations",
                               height=600,
                               width=600)
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2 = px.choropleth(tacyg, 
                               geojson=data1, 
                               locations="States", 
                               featureidkey="properties.ST_NM",
                               color="Transaction_count", 
                               color_continuous_scale="Rainbow",
                               range_color=(tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                               hover_name="States",
                               title=f"{year} TRANSACTION COUNT", 
                               fitbounds="locations",
                               height=600,
                               width=600)
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

    return tacy

In [ ]:
#Transaction_Quarter_Based

def Transaction_amount_count_Y_Q(df,quarter):
    tacy = df[df["Quarter"] == quarter]
    tacy.reset_index(drop = True,inplace = True)

    tacyg=tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount=px.bar(tacyg, x = "States",y="Transaction_amount",title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_amount.show()

    fig_count=px.bar(tacyg, x = "States",y="Transaction_count",title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER  TRANSACTION COUNT",color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()
    
    fig_india_1 = px.choropleth(tacyg, 
                               geojson=data1, 
                               locations="States", 
                               featureidkey="properties.ST_NM",
                               color="Transaction_amount", 
                               color_continuous_scale="Rainbow",
                               range_color=(tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                               hover_name="States",
                               title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER  TRANSACTION AMOUNT", 
                               fitbounds="locations",
                               height=600,
                               width=600)
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2 = px.choropleth(tacyg, 
                               geojson=data1, 
                               locations="States", 
                               featureidkey="properties.ST_NM",
                               color="Transaction_count", 
                               color_continuous_scale="Rainbow",
                               range_color=(tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                               hover_name="States",
                               title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER  TRANSACTION COUNT", 
                               fitbounds="locations",
                               height=600,
                               width=600)
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()
    
    return tacy

In [ ]:
#Transaction_type

def Aggre_Tran_Transaction_type(df, state):
    

    tacy = df[df["States"] == state]
    tacy.reset_index(drop = True,inplace = True)
    tacyg=tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1= px.pie(data_frame = tacyg, names = "Transaction_type" ,values = "Transaction_amount",
                    width = 600 , title=f"{state.upper()} TRANSACTION_AMOUNT", hole = 0.5)

    fig_pie_1.show()

    fig_pie_2= px.pie(data_frame = tacyg, names = "Transaction_type" ,values = "Transaction_count",
                    width = 600 , title=f"{state.upper()} TRANSACTION_COUNT", hole = 0.5)

    fig_pie_2.show()

In [125]:
#Aggre_user_analysis_1
def Aggre_user_plot_1(df, year):
    aguy=df[df["Years"]== year]
    aguy.reset_index(drop = True, inplace= True)
    aguyg= pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyg, x="Brands", y = "Transaction_count", title = "BRANDS AND TRANSACTION COUNT",
                    width = 800, color_discrete_sequence=px.colors.sequential.haline)
    fig_bar_1.show()

In [ ]:
#Aggre_user_Analysis_2
def Aggre_user_plot_2(df, quarter):
    aguyq= df[df["Quarter"]== quarter]
    aguyq.reset_index(drop= True, inplace= True)

    aguyqg= pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace= True)

    fig_bar_1= px.bar(aguyqg, x= "Brands", y= "Transaction_count", title=  f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",
                    width= 1000, color_discrete_sequence= px.colors.sequential.Magenta_r, hover_name="Brands")
    fig_bar_1.show()

    return aguyq

In [ ]:
#Aggre_user_Analysis_3
def Aggre_user_plot_3(df, state): 
    auyqs= df[df["States"] == state]
    auyqs.reset_index(drop= True, inplace= True)


    fig_line_1= px.line(auyqs, x= "Brands", y= "Transaction_count", hover_data= "Percentage",
                            title= f"{state.upper} BRANDS, TRANSACTION COUNT, PERCENTAGE",width= 1000, markers= True)
    fig_line_1.show()

In [ ]:
#map_insurance_district

def map_insur_District(df, state):
    

    tacy = df[df["States"] == state]
    tacy.reset_index(drop = True,inplace = True)
    tacyg=tacy.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1= px.bar(tacyg, x= "Transaction_amount", y= "District", orientation= "h", height= 600,
                        title= "DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2= px.bar(tacyg, x= "Transaction_count", y= "District", orientation= "h", height= 600,
                        title= "DISTRICT AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Bluered_r)
    fig_bar_2.show()

In [ ]:
#map_user_plot_1 analysis

def map_user_plot_1(df,year):
    muy=map_user[map_user["Years"]== 2020]
    muy.reset_index(drop = True, inplace= True)

    muyg=muy.groupby("States")[["RegisteredUser","AppOpens"]].sum()
    muyg.reset_index(inplace=True)
    fig_line_1= px.line(muyg, x= "States", y=["RegisteredUser",  "AppOpens"],
                                title=f"{year} REGISTEREDUSER APPOPENS",width= 1000,height=800, markers= True)
    fig_line_1.show()
    
    return muy

In [ ]:
#map_user_plot_2 analysis

def map_user_plot_2(df,quarter):
    muyq=map_user[map_user["Quarter"]== quarter]
    muyq.reset_index(drop = True, inplace= True)

    muyqg=muyq.groupby("States")[["RegisteredUser","AppOpens"]].sum()
    muyqg.reset_index(inplace=True)
    fig_line_1= px.line(muyqg, x= "States", y=["RegisteredUser",  "AppOpens"],
                                title=f"{df['Years'].min()} {quarter} QUARTER REGISTEREDUSER APPOPENS",width= 1000,height=800, markers= True,
                                color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_line_1.show()
    
    return muyq

In [ ]:
#map_user_plot_3_analysis
def map_user_plot_3(df,states):

    muyqs=df[df["States"]== states]
    muyqs.reset_index(drop= True,inplace=True)
    fig_map_user_bar_1= px.bar(muyqs, x= "RegisteredUser", y= "District", orientation= "h",
                                    title="{states} REGISTERED USER", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2= px.bar(muyqs, x= "AppOpens", y= "District", orientation= "h",
                                    title= "APPOPENS", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [ ]:
#top_insurance plot_1
def top_insurance_plot_1(df,state):
    tiy=df[df["States"]== state]
    tiy.reset_index(drop = True, inplace= True)


    
    fig_top_insur_bar_1= px.bar(tiy, x= "Quarter", y= "Transaction_amount", hover_data= "Pincodes",
                                    title= "TRANSACTION AMOUNT", height= 650,width= 600, color_discrete_sequence= px.colors.sequential.GnBu_r)
    fig_top_insur_bar_1.show()

    fig_top_insur_bar_2= px.bar(tiy, x= "Quarter", y= "Transaction_count", hover_data= "Pincodes",
                                title= "TRANSACTION COUNT", height= 650,width= 600, color_discrete_sequence= px.colors.sequential.Agsunset_r)
    fig_top_insur_bar_2.show()

In [141]:
def top_user_plot_1(df,year):
    tuy=df[df["Years"]== year]
    tuy.reset_index(drop = True, inplace= True)


    tuyg= pd.DataFrame(tuy.groupby(["States", "Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace=True)
    fig_top_plot_1= px.bar(tuyg, x= "States", y= "RegisteredUsers", color= "Quarter", width= 1000, height= 800,
                            color_discrete_sequence= px.colors.sequential.Burgyl, hover_name= "States",title= f"{year} REGISTERED USERS")

    fig_top_plot_1.show()
    return tuy

In [ ]:
#top_user_plot_2
def top_user_plot_2(df,state):
    tuys=df[df["States"]== state]
    tuys.reset_index(drop = True, inplace= True)
    fig_top_plot_2= px.bar(tuys, x= "Quarter", y= "RegisteredUsers", title= "REGISTEREDUSERS, PINCODES, QUARTER",
                            width= 1000, height= 800, color= "RegisteredUsers", hover_data= "Pincodes",
                            color_continuous_scale= px.colors.sequential.Magenta)
    fig_top_plot_2.show()

## Aggregated_insurance

In [ ]:
tac_Y=Transaction_amount_count_Y(Aggre_insurance,2022)
tac_Y

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 4)

## Aggregated_transaction

In [ ]:
Aggre_tran_tac_Y=Transaction_amount_count_Y(Aggre_transaction,2023)

In [ ]:
Aggre_tran_tac_Y

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y, "Andaman & Nicobar ")

In [ ]:
Aggre_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 4)

In [ ]:
Aggre_tran_tac_Y_Q["Transaction_type"].unique()

## Aggregated_user

In [ ]:
Aggre_user

In [ ]:
Aggre_user_Y = Aggre_user_plot_1(Aggre_user, 2020)

In [ ]:
Aggre_user_Y = Aggre_user[Aggre_user['Years'] == 2020].reset_index(drop=True)

In [ ]:
Aggre_user_Y

In [ ]:
Aggre_user_Y= Aggre_user_plot_1(Aggre_user, 2020)

In [ ]:
Aggre_user_Y_Q = Aggre_user_Y[Aggre_user_Y['States']== "West Bengal"].reset_index(drop=True)

In [ ]:
aguyq= Aggre_user_Y[Aggre_user_Y ["Quarter"]== 2]
aguyq.reset_index(drop= True)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q , "Andaman & Nicobar")

### Map_Insurance

In [ ]:
Map_insur_tac_Y=Transaction_amount_count_Y(map_insurance,2023)

In [ ]:
Map_insur_tac_Y

In [ ]:
map_insur_District(Map_insur_tac_Y, "Tamil Nadu")

In [ ]:
Map_insur_tac_Y

In [ ]:
Map_insur_tac_Y_Q=Transaction_amount_count_Y_Q(Map_insur_tac_Y,1)

In [ ]:
Map_insur_tac_Y_Q

In [ ]:
map_insur_District(Map_insur_tac_Y_Q, "Tamil Nadu")

In [ ]:
map_insurance

### Map_Transaction

In [ ]:
map_transaction

In [ ]:
Map_tran_tac_Y=Transaction_amount_count_Y(map_transaction,2023)

In [ ]:
map_insur_District(Map_tran_tac_Y, "Tamil Nadu")

In [ ]:
Map_tran_tac_Y

In [ ]:
Map_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Map_tran_tac_Y,1)

In [ ]:
Map_tran_tac_Y_Q

In [ ]:
map_insur_District(Map_tran_tac_Y_Q , "Tamil Nadu")

In [ ]:
map_transaction

### Map_User

In [ ]:
map_user

In [ ]:
map_user_Y = map_user_plot_1(map_user,2023)

In [ ]:
map_user_Y

In [ ]:
map_user_Y.value_counts()

In [ ]:
map_user_Y["Years"].unique()

In [ ]:
map_user_Y_Q = map_user_plot_2(map_user_Y, 2)

In [ ]:
map_user_Y_Q

In [ ]:
map_user_Y_Q["Years"].unique()

## Top_insurance

In [ ]:
top_insurance

In [ ]:
top_insur_tac_Y=Transaction_amount_count_Y(top_insurance,2023)

In [ ]:
top_insur_tac_Y

In [ ]:
top_insurance_plot_1(top_insur_tac_Y, "West Bengal")

In [ ]:
top_insur_tac_Y_Q=Transaction_amount_count_Y_Q(top_insur_tac_Y,1)

In [ ]:
top_insur_tac_Y_Q

In [ ]:
top_insurance

## Top_Transaction

In [ ]:
top_transaction

In [ ]:
top_tran_tac_Y=Transaction_amount_count_Y(top_transaction,2023)

In [ ]:
top_tran_tac_Y

In [ ]:
top_insurance_plot_1(top_tran_tac_Y, "West Bengal")

In [ ]:
top_tran_tac_Y_Q=Transaction_amount_count_Y_Q(top_tran_tac_Y,1)

In [ ]:
top_tran_tac_Y_Q

### Top_User

In [ ]:
Top_user_Y=top_user_plot_1(top_user,2023)

In [ ]:
top_user_plot_2(Top_user_Y, "Tamil Nadu")

In [140]:
Top_user_Y

                 States  Years  Quarter  Pincodes  RegisteredUsers
0     Andaman & Nicobar   2023        1    744103          1717074
1     Andaman & Nicobar   2023        1    744105          1717074
2     Andaman & Nicobar   2023        1    744101          1717074
3     Andaman & Nicobar   2023        1    744102          1717074
4     Andaman & Nicobar   2023        1    744202          1717074
...                 ...    ...      ...       ...              ...
7135        West Bengal   2023        4    700015          1717074
7136        West Bengal   2023        4    742304          1717074
7137        West Bengal   2023        4    721101          1717074
7138        West Bengal   2023        4    700150          1717074
7139        West Bengal   2023        4    700091          1717074

[7140 rows x 5 columns]

In [130]:
top_user

                  States  Years  Quarter  Pincodes  RegisteredUsers
0      Andaman & Nicobar   2018        1    744103          1717074
1      Andaman & Nicobar   2018        1    744101          1717074
2      Andaman & Nicobar   2018        1    744105          1717074
3      Andaman & Nicobar   2018        1    744102          1717074
4      Andaman & Nicobar   2018        1    744104          1717074
...                  ...    ...      ...       ...              ...
49995        West Bengal   2024        4    733134          1717074
49996        West Bengal   2024        4    700059          1717074
49997        West Bengal   2024        4    711302          1717074
49998        West Bengal   2024        4    700150          1717074
49999        West Bengal   2024        4    711106          1717074

[50000 rows x 5 columns]